
.headingfont{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: -8px;
    margin-left: 10px;
}

.linkfont{
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }